<?xml version="1.0" ?>

<robot name="slope">
  <!-- ======================================= -->
 
 
 
  <link name="box">
  <contact>
      <lateral_friction value="1"/>
      <spinning_friction value="1"/>
      <rolling_friction value="1"/>
    </contact>
    
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <material name="black"/>
    </visual>
    
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.5"/>
      <inertia ixx="0.01" ixy="0.01" ixz="0.01" iyy="0.01" iyz="0.1" izz="0.01"/>
    </inertial>
    
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
    </collision>
  </link>
  
  
  
  
  
  </robot>
